*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 1rem;
}

header {
    background-color: #2E323F;
    color: #fff;
    text-align: center;
    padding: .6rem;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}


ul {
    list-style-type: none;
}


.list-item a {
    text-decoration: none;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    margin: 1rem auto;
}

.nav-link-button {
    background-color: #A59678;
    padding: .2rem 1rem;
    border-radius: 2rem;
    margin: 0 auto;
    width: 4rem;
}


h1 {
    font-size: 3rem;
}

.hero-area {
    background-color: #3B4050;
    padding: 5rem 0;
    color: #fff;
    line-height: 1.5;
}

.hero-button {
    text-decoration: none;
    background-color: #A59678;
    text-transform: uppercase;
    padding: .6rem 2rem;
    border-radius: 2rem;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    margin: 1rem 0;
}

.hero-button:hover,
.hero-button:focus {
    opacity: .7;
}

.hero-text-right {
    margin: 5rem 0;
}

.colorful-hero-text {
    color: #A59678;
}



.aside-text-wrapper {
  text-align: center;
  margin-top: 1rem;
  line-height: 1.5;
  padding: 2rem;
}

.aside-text-wrapper h3 {
  color: #A59678;
  font-size: 18px;
}

.aside-area {
    background-color: azure;
    margin-bottom: 2rem;
}

.second-text img{
    margin: 1rem 0;
    width: 100%;
}

.second-text h3 {
    color: #A59678;
    font-size: 1.5rem;
}

.second-text-area {
    margin-top: 1rem;
    line-height: 1.5;
}



.right-text {
    background-color: #2E323F;
    color: #fff;
    text-align: center;
    padding: 3rem;
    margin-top: 1rem;
}

footer {
    background-color: #3B4050;
    padding: 6rem 0;
    margin-top: 2rem;
    color: #fff;
    line-height: 1.5;
}

footer h2 {
    text-align: center;
    font-size: 2rem;
    margin: 2rem;
}

.footer-area h3 {
    color: #A59678;
    font-size: 1.3rem;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-area li a {
    text-decoration: none;
    color: #fff;
}

.footer-items {
    margin-bottom: 1rem;
}

@media (min-width: 800px) {

    h1 {
        font-size: 4rem;
    }
    .row {
        display: flex;
        justify-content: space-between;
        border: 1px solid red;
        /* align-items: center; */
    }

    .second-text-wrapper {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }

    .second-text {
    width: 55%;
}

.second-right-text {
    width: 30%;
    margin: 20px;
    
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.list-item a {
    text-decoration: none;
    color: #fff;
}

.list-item a:hover,
.list-item a:focus {
    border-bottom: 2px solid #A59678;
}

.nav-link-button {
    background-color: #A59678;
    padding: .2rem 1rem;
    border-radius: 2rem;
}

.hero-area {
    display: flex;
    justify-content: space-between;
}


.right-text {
    padding: 1.5rem;
}

.footer-links-one {
    width: 40%;
}

}